<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <error-page>
        <location>/error.jsp</location>
    </error-page>
    <context-param>
        <description>user name for Sql server</description>
        <param-name>ottzUser</param-name>
        <param-value>sa</param-value>
    </context-param>
    <context-param>
        <description>user pwd for Sql Server</description>
        <param-name>ottzPassword</param-name>
        <param-value>rtdx9900</param-value>
    </context-param>
    <context-param>
        <description>ODBC instance name, used for RODBC</description>
        <param-name>ottzODBC</param-name>
        <param-value>Leon_Stock_2012_TestDB</param-value>
    </context-param>
    <context-param>
        <description>used for r image path, server local path</description>
        <param-name>ottzRimagePath</param-name>
        <param-value>C:\Users\Leon\Documents\NetBeansProjects\OTTZ</param-value>
    </context-param>
    <context-param>
        <description>used for JDBC connection</description>
        <param-name>ottzDBurl</param-name>
        <param-value>jdbc:sqlserver://localhost;databaseName=ottzDB</param-value>
    </context-param>
    <context-param>
        <param-name>ottzDBname</param-name>
        <param-value>ottzDB</param-value>
    </context-param>
    <servlet>
        <servlet-name>FilterTraining_Servlet</servlet-name>
        <servlet-class>org.luxion.ottzServlet.FilterTraining_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OperateDBFilter</servlet-name>
        <servlet-class>org.luxion.ottzServlet.OperatorDBFilter_servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FilterTesting_Servlet</servlet-name>
        <servlet-class>org.luxion.ottzServlet.FilterTesting_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestingSelectGuide</servlet-name>
        <servlet-class>org.luxion.ottzServlet.TestingSelectGuide</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MaTraining_Servlet</servlet-name>
        <servlet-class>org.luxion.ottzServlet.MaTraining_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OperatorDBMA_servlet</servlet-name>
        <servlet-class>org.luxion.ottzServlet.OperatorDBMA_servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MaTesting_Servlet</servlet-name>
        <servlet-class>org.luxion.ottzServlet.MaTesting_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RsiTraining_Servlet</servlet-name>
        <servlet-class>org.luxion.ottzServlet.RsiTraining_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OperatorDBRSI_servlet</servlet-name>
        <servlet-class>org.luxion.ottzServlet.OperatorDBRSI_servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RsiTesting_Servlet</servlet-name>
        <servlet-class>org.luxion.ottzServlet.RsiTesting_Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FilterTraining_Servlet</servlet-name>
        <url-pattern>/FilterTraining_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OperateDBFilter</servlet-name>
        <url-pattern>/OperateDBFilter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FilterTesting_Servlet</servlet-name>
        <url-pattern>/FilterTesting_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestingSelectGuide</servlet-name>
        <url-pattern>/TestingSelectGuide</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MaTraining_Servlet</servlet-name>
        <url-pattern>/MaTraining_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OperatorDBMA_servlet</servlet-name>
        <url-pattern>/OperatorDBMA_servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MaTesting_Servlet</servlet-name>
        <url-pattern>/MaTesting_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RsiTraining_Servlet</servlet-name>
        <url-pattern>/RsiTraining_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OperatorDBRSI_servlet</servlet-name>
        <url-pattern>/OperatorDBRSI_servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RsiTesting_Servlet</servlet-name>
        <url-pattern>/RsiTesting_Servlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <!--定義在context.xml即可?-->
    <!--    <resource-ref>
        <res-ref-name>jdbc/ottzDB</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>-->
</web-app>
